@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);	

.botImage {
    background-color: transparent;
    width: 150px;
    height: 95x;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

img {
    max-width: 100%;
    max-height: auto;
}

.botProblems {
    font-family: 'Open Sans', sans-serif;
    background-color: transparent;
    height: auto;
    width: auto;
    display: list-item;
    vertical-align: center;
    margin-left: auto;
    margin-right: auto;
    overflow:overlay;
    position: relative;
    top: 0px;
}

.botEvents {
    font-family: 'Open Sans', sans-serif;
    background-color: transparent;
    height: auto;
    width: auto;
    display: list-item;
    vertical-align: center;
    margin-left: auto;
    margin-right: auto;
    overflow:overlay;
    position: relative;
    top: 0px;
}

.botSerial {
    font-family: 'Open Sans', sans-serif;
    background-color: transparent;
    height: auto;
    width: auto;
    display: list-item;
    vertical-align: center;
    margin-left: auto;
    margin-right: auto;
    overflow:overlay;
    position: relative;
    top: 0px;
}

.botType {
    font-family: 'Open Sans', sans-serif;
    background-color: transparent;
    height: auto;
    width: auto;
    display: list-item;
    vertical-align: center;
    margin-left: auto;
    margin-right: auto;
    overflow:overlay;
    position: relative;
    top: 0px;
}

.botName {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    background-color: transparent;
    height: auto;
    width: auto;
    display: list-item;
    vertical-align: center;
    margin-left: auto;
    margin-right: auto;
    overflow:overlay;
    position: relative;
    top: 0 px;
    
}


.faulty {
  background-color: rgb(236,170,60);
  width: 300px;
  min-height: 200px;
  border-radius: 25px;
  text-align: center;
  vertical-align: middle;
  margin: 1em;
  display: inline-block;
  padding: 25px;
}


.offline {
  background-color: rgb(220,124,103);
  width: 300px;
  min-height: 200px;
  border-radius: 25px;
  text-align: center;
  vertical-align: middle;
  margin: 1em;
  display: inline-block;
  padding: 25px;
}

.online {
  background-color: rgb(74,190,129);
  width: 300px;
  min-height: 200px;
  border-radius: 25px;
  text-align: center;
  vertical-align: middle;
  margin: 1em;
  display: inline-block;
  padding: 25px;
}

.farm {
    text-align: center;
}

